* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #f9f9f9;
}

h1 i {
    vertical-align: top;
}
#contenido
{
    padding: 75px 0;
    margin-bottom: 80px;
}

#contenido h1 {
    margin: 0;
    font-size: 1.75rem;
    color: #444;
    margin-bottom: 30px;
}

#instalador
{
    padding: 100px 0;
    margin: auto;
}

#instalador ul {
    width: 100%;
}

#instalador li {
    list-style-type: none;
    display: inline-block;
    width: 300px;
    margin: 20px 30px;
}

#instalador input {
    width: 300px;
}

#instalador select {
    width: 300px;
}

.titulo_campo {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-instalar {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

table {
    border-bottom: 2px solid #ccc;
}

.toolbar {
    margin: 20px 0;
}

.form-agregar {
    background-color: #03a9f4;
}

thead tr {
    background-color: #0091ea;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

body {
    height: 100%;
    background-color: #f0f0f0;
    background-color: #f1f2f7;
    color: #333;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;

    /* font: "Source Sans Pro"; */
}

header {
    width: 100%;
    height: 56px;
    padding: 0;
    border: 0;
    font-size: 1rem;
    background-color: #374850;
    /* background-color: #333; */
    z-index: 1000;
    top: 0;
    left: 0;
    position: sticky;
    border-top: 3px solid #f44336;
}

header img.logo,
#sidebar img.logo {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 3px;
    margin-right: 2px;
}

#sidebar img.logo {
    vertical-align: text-bottom;
}

#sidebar .brand {
    font-size: 0.9rem;
    color: #fff;
}

#sidebar #logo {
    margin-bottom: 25px;
}

hr {
    border-bottom: 1px solid #999;
}

.navbar {
    border: 0;
}

.navbar .container-fluid {
    background-color: transparent;
}

a,
a:hover {
    text-decoration: none;
}

a.navbar-brand {
    letter-spacing: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

a.navbar-brand:hover {
    color: #fff;
}

.color-primario {
    color: #f44336;
}

.color-secundario {
    color: #2196f3;
}

.color-error {
    color: #f44336;
}

nav {
    padding: 0;
    margin: 0;
}
#nav-sidebar {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -14px;
}

#nav-sidebar li {
    background-color: #222d32;
    list-style-type: none;
}

#nav-sidebar li a {
    padding: 10px 15px;
    color: #ccc;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-decoration: none;
}

#nav-sidebar li a:hover {
    background-color: #1e282c;
    text-decoration: none;
    color: #fff;
}

#nav-sidebar li a.active {
    padding-left: 13px;
    background-color: #1e282c;
    border-left: 3px solid #03a9f4;
    font-weight: bold;
}

#nav-sidebar a {
    display: block;
}

#nav-sidebar ul li.desplegable ul {
    display: none;
    padding: 20px;
}

#subopciones:target ul {
    display: block;
}

/* NAV SIDEBAR */

#nav-sidebar ul.acorh,
#nav-sidebar ul.acorh * {
    margin: 0;
    padding: 0;
    border: 0;
}

#nav-sidebar ul.acorh {
    margin: 10px auto;
    padding: 20px 0;
    list-style: none;
    width: 100%;
}

#nav-sidebar ul.acorh li {
    list-style: none;
}

#nav-sidebar ul.acorh li a {
    display: block;
    padding: 10px 10px 10px 20px;
    color: #eee;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 0.9rem;
}

#nav-sidebar ul.acorh li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}

#nav-sidebar ul.acorh li li a {
    padding: 10px 10px 10px 25px;
    background: #374850;
    color: #ccc;
    border: 0;
    box-sizing: border-box;
}

#nav-sidebar ul.acorc li li:last-child a {
    border-bottom: 0;
}

#nav-sidebar ul.acorh li a:hover {
    background: #1e282c;
    color: #fff;
}

#nav-sidebar ul.acorh li a:hover i {
    color: #f44336;
}

#nav-sidebar ul.acorh li:target > a {
    background-color: #1e282c;
    border-left: 3px solid #2196f3;
}

#nav-sidebar ul.acorh li:target ul {
    max-height: 300px;
    transition: 0.3s all ease-in;
}

#navbarPrincipal ul {
    margin: 0;
    padding: 0;
}

#navbarPrincipal > ul > li {
    margin-left: 20px;
    padding: 0;
}

#navbarPrincipal ul li > a {
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-size: .9rem;
    color: #ccc;
}

#navbarPrincipal ul li > a:hover {
    color: #f44336;
}

#navbarPrincipal ul li > a:active {
    color: #f44336;
}

.dropdown-menu {
    margin-left: -15px;
}

.dropdown-menu.show {
    border: 0;
    padding: 0;
    background-color:#333;
    color: #fff;
    margin-top: 14px;
}

a.dropdown-item {
    border: 0;
    padding: 15px;
    /* background-color: #f44336; */
    background-color:#333;
    color: #fff;
}

a.dropdown-item:hover {
    border: 0;
    padding: 15px;
    background-color: #2196f3;
    color: #fff;
}

.foto_perfil {
    width: 60px;
    margin-top: 6px;
    margin-right: -10px;
}

.foto_perfil img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid grey;
}

#menu_login {
    background-color: black;
}

main {
    background-color: #f9f9f9;
}

#inicio {
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 700px;
    background-color: #eaeaea;
    background-image: url("../img/app.png");
    background-position: 50% 50px;
    background-size: initial;
    background-attachment: initial;
    background-clip: padding-box;
    background-repeat: no-repeat;

    /* filter:brightness(0.25); */
}

#inicio h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 2px #333;
}

#caracteristicas {
    padding: 100px 0;
    background-color: #03a9f4;
    color: #eaeaea;
}

#caracteristicas h1 {
    color: #fff;
    font-weight: bold;
}

#caracteristicas .caracteristica {
    padding: 50px 0;
}

#caracteristicas .caracteristica img {
    width: 100%;
}

#caracteristicas .caracteristica .descripcion {
    font-size: 1.25rem;
    padding-top: 75px;
    padding-bottom: 75px;
}

#registrar {
    max-width: 550px;
    margin: auto;
    padding: 8% 0 30px 0;
    border-bottom: 1px solid #ccc;
}

#registrar .row 
{
    background-color: #fff;
}

#registrar h1 {
    background-color: #03a9f4;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 25px;
}

#registrar .btn-toolbar {
    margin-top: 40px;
}

#registrar form {
    padding: 20px 0;
}

#identificarse {
    max-width: 550px;
    margin: auto;
    padding: 8% 0 0 0;
    border-bottom: 1px solid #ccc;
}

#identificarse .row {
    background-color: #fff;
}

#identificarse h1 {
    background-color: #03a9f4;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 25px;
}

#identificarse .btn-toolbar {
    margin-top: 40px;
}

#identificarse form {
    padding: 20px 0;
}

#identificarse .input-group,
#registrar .input-group {
    max-width: 500px;
    margin-bottom: 20px;
}

#identificarse .alert {
    font-size: 1rem;
}

.mensaje-info {
    display: block;
    position: fixed !important;
    z-index: 1002;
    width: 50%;
    left: 25%;
    margin-top: 20px;
    text-align: center;
}

.btn-agregar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-deshabilitar {
    margin: 20px 0;
}

.btn-eliminar {
    margin: 20px 0;
}

.titulo_proyecto {
    color: #fff;
    font-weight: bold;
}

.desplazador {
    position: absolute;
    left: 48%;
    top: 42%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #ccc;
    background-color: #212529;
}

footer ul li {
    float: left;
    list-style-type: none;
    margin-left: 20px;

}

footer ul li a {
    color: #fff;
    padding: 10px 0 15px 0;
}

.mensaje_error {
    color: red;
    margin-top: 10px;
}

.campo {
    border: 1px solid #ccc;
}

.campo_correcto {
    border: 1px solid #ccc;
    border-bottom: 1px solid green;
}

.campo_incorrecto {
    border: 1px solid red;
}



.centrado {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.marginT20 {
    margin-top: 20px;
}

.card-header2 h2 {
    font-size: 1.25rem;
    padding: 10px 15px 0 15px;
}

#mensaje_error
{
    margin: 50px 0;
}

#mensaje_error h2 {
    margin-top: 50px;
    font-size: 3rem;
}

#mensaje_error h1 {
    font-size: 18rem;
    font-weight: bold;
}

#duracion_sesion {
    width: 300px;
}

/* ESTILOS NUEVOS */

aside#sidebar {
    padding: 15px 0;
    min-height: 1080px;
    height: 100%;
    max-height: 2160px;
    background-color: #222d32;
    color: #eee;
}

aside#sidebar .input-group-btn {
    width: 36px;
    height: 36px;
}

aside#sidebar .input-group-btn button {
    width: 36px;
    height: 36px;
    padding: 2px;
    background-color: #374850;
}

aside#sidebar .datos-conexion-usuario {
    padding: 5px;
    padding-left: 10px;
}

aside#sidebar .nickname {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

aside#sidebar .estado-online {
    color: green;
    font-size: 0.8rem;
}

aside#sidebar .conexion-verde {
    color: green;
    margin-right: 6px;
}

#form-agregar-sesion {
    margin: 0 auto;
    padding: 50px 0;
}

/* Para corregir el exceso de ancho de bootstrap con el aside
(se sale de pantalla y muestra la barra de desplazamiento lateral */
/* #agregar-sesion .row,
#informes .row,
#configurar-trackeo .row,
#dashboard .row,
#clientes .row,
#proyectos .row,
#datos-proyecto .row,
#tareas .row,
#sesiones .row,
#preferencias .row {
    margin-right: 0;
} */

textarea {
    height: 150px;
}

#form-configurar-trackeo {
    padding: 0;
}

#form-configurar-trackeo h2,
#lista-informes h2,
#ver-informe-proyecto h2 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

#area-configurar-trackeo {
    padding: 30px 0;
}

#area-configurar-trackeo img {
    width: 28px;
    height: 28px;
    vertical-align: text-top;
}

#area-configurar-trackeo .nav-tabs {
    margin-top: 50px;
}

input[type="search"] {
    background-color: #f1f2f7;
    color: #ccc;
    border: 0;
    height: 30px;
    min-width: 450px;
}

aside#sidebar .input-group-btn button {
    margin-top: 0;
}

#search-btn {
    color: #ccc;
    margin-left: -2px;
    margin-top: -4px;
    height: 30px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #eee;
}

.num-resultados {
    font-size: 1.5rem;
}

.card-footer-info {
    font-size: 0.9rem;
}

.card {
    margin-top: 25px;
    margin-bottom: 50px;
}

/* .card-header {
    color: #333;
    padding: 0;
    margin: 0;
} */

.card-header > h1,
.card-header > h2,
.card-header > h5 {
    padding: 5px 0;
    margin: 0;
}

.card-header > h2 {
    font-size: 1.25rem;
}

.card-footer {
    font-size: 1rem;
}

/* DASHBOARD */
#dashboard #estado-general {
    margin-top: 20px;
}

#grid {
    margin: 30px 0;
}

#grid ul li {
    list-style-type: none;
    float: left;
}

#grid .card-header,
#grid .card-body,
#grid .card-footer,
#grid .card-header a,
#grid .card-body a,
#grid .card-footer a {
    color: #fff;
}

.cuadro-info {
    margin-bottom: 25px;
    padding: 0;
    border: 0;
    color: #fff;
    box-shadow: 1px 1px 2px #ccc;
}

.cuadro-info h2 {
    padding: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.cuadro-info-cuerpo {
    padding: 0 20px;
    text-align: center;
    font-size: 0.9rem;
}

.cuadro-info-footer {
    margin-top: 1rem;
}

.cuadro-info-footer a {
    padding: 20px;
    color: #fff;
    display: block;
    text-align: center;
}

.cuadro-info-footer a:hover {
    background-color: #374850;
    color: #fff;
    text-decoration: none;
}

#graficos {
    padding: 50px 0;
}

#graficos .card-body {
    padding: 70px 30px;
}

.grafica {
    margin: 0 auto;
    margin-top: 30px;
    padding: 50px;
    box-shadow: 1px 1px 2px #ccc;
    border-top: 10px solid #03a9f4;
    color: #fff;
}

#graficos h5 {
    color: #fff;
}


/* INFORMES */

#lista-informes {
    min-height: 800px;
    padding: 30px 0;
}

table {
    padding: 25px;
    background-color: #fff;
}

table thead tr,
#ver-informe-proyecto table thead tr {
    background-color: #35bfff;
}

table tr:hover {
    cursor: pointer;
}

table td {
    font-size: 0.9rem;
    padding: 2px 5px;
}

table td a {
    color: initial;
    display: block;
}

table td a:hover {
    text-decoration: none;
}

#ver-informe-proyecto {
    min-height: 800px;
    padding: 40px 0;
}

#ver-informe-proyecto table thead td {
    font-size: 0.8rem;
    padding: 2px 10px;
    font-weight: normal;
}

#ver-informe-proyecto table tbody td {
    font-size: 0.9rem;
    padding: 0 10px 1px 10px;
}

#diagrama-distribucion-sesiones {
    display: none;
}

#diagrama-gantt {
    padding: 20px;
    overflow: auto;
}

#diagrama-gantt table thead td {
    padding: 0 2px;
    margin: 0;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
}

#diagrama-gantt table thead td:first-child {
    padding: 0 10px;
    text-align: left;
}

#diagrama-gantt table tbody td {
    width: 100%;
    padding-top: 1px;
    border: 0;
    vertical-align: middle;
}

#diagrama-gantt table tbody td:first-child {
    padding: 0 10px;
    text-align: left;
}

#ver-informe-proyecto li {
    list-style-type: none;
}

#ver-informe-proyecto .nav-tabs table {
    padding: 30px;
}

.breadcrumb{
    background-color: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0.9rem;
    color: #666;
}

.navegacion {
    background-color: #eee;
    padding: 10px;
}

ol.breadcrumb {
    float: right;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.titulo_tarea {
    font-weight: bold;
    margin-top: 15px;
}

.precio_final {
    color: #2196f3;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.cuadricula {
    min-width: 25px;
    margin: 0;
    padding: 3px 0;
    background-color: #35bfff;
    border-right: 1px solid #aaa;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

#ver-informe-proyecto .card-header {
    background-color: #35bfff;
    color: #fff;
}

.alinear-izquierda {
    text-align: left;
}

.alinear-derecha {
    text-align: right;
}

/* PROYECTOS */

#agregar-proyecto {
    display: none;
}

#agregar-nueva-tarea {
    display: none;
}

.panel {
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #eee;
}

.panel-heading h2 {
    font-size: 1.25rem;
}

#tareas-proyecto {
    padding: 100px 0;
}

/* PROYECTOS/VER */
#datos-proyecto li {
    border-right: 5px solid #2196f3;
    border-bottom: 1px solid #2196f3;
    padding: 20px;
    margin: 20px 0;
    list-style-type: none;
}

li.comentarios {
    min-height: 300px;
}

li.comentarios .contenido_campo {
    font-style: italic;
}

/* CLIENTES */

/* SESIONES */
#sesiones .row table {
    margin-top: 50px;
}

#lista-sesiones {
    padding: 40px 0;
}

tr.proyecto {
    background-color: #cecece;
}

#sesiones tr {
    padding: 0;
}


/* MATERIAL DESIGN */

.bg-verde {
    background-color: #4caf50;
}

.bg-verde-claro {
    background-color: #8bc34a;
}

.bg-azul {
    background-color: #2196f3;
}

.bg-amarillo {
    background-color: #ffeb3b;
}

.bg-morado {
    background-color: #ab47bc;
}

.bg-rojo {
    background-color: #f44336;
}


/* CORRECIONES BOOTSTRAP */

.btn-default {
    background-color: #eee;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #f44336;
    border: 1px solid #f44336;
}

.btn-danger {
    background-color: #f44336;
}

.btn-success {
    background-color: #4caf50;
}

/* TRACKEAR */

li.sin-registros {
    list-style-type: none;
}

#seguimientos {
    display: none;
}

#seguimientos li {
    padding: 20px;
    border: 1px solid grey;
    background-color: #03a9f4;
    color: white;
}

#seguimientos li div {
    float: left;
    margin-right: 20px;
}

#seguimientos .btn-toolbar button {
    margin: 0 10px;
}

#seguimientos .btn-pausar {
    color: #333;
}

#seguimientos .btn-pausar:hover {
    background-color: black;
    color: #fff;
}

/* PREFERENCIAS */

#lista-preferencias {
    padding: 30px 0;
}

#tareas table tbody tr:hover {
    cursor: pointer;
    background-color: #35bfff;
    color: #fff;
}

/* CONTACTO */

#consulta {
    padding: 60px 0;
    margin-bottom: 90px;
}

#consulta form {
    margin-top: 20px;
}

#consulta .btn-toolbar {
    margin-top: 25px;
}


/* OTROS */

#nav-sidebar h1 {
    margin: 0 auto;
    padding: 12px;
    background-color: #1a2226;
    color: #374850;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}